extends ../components/templates/base_main.pug
block prepend top 
  - showBg = true;

block content
  +content_group(1)
    p.welcome_msg
      span 
        em.name 김중앙
        | 님, 안녕하세요!
      span 
        em.bnk 한화저축은행
        | 입니다.
        span.ico
    .main_slider.type1(
      mui-slider="scrollbar:true;paging:true;loop:false;"
    )
      .slider
        .swiper-wrapper
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
        
    

  +content_group(1)
    .status.type1
      +tabsWrap({
        active:0
      })
        +tab("대출")
          .acc_lists
            +accountbox({
              accName:"정기예금(복리)1",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                },
                {
                  label:"이체"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            .toggle_wrap
              span.text 잔액 ON
              .toggle
                +radioCheck({
                  name:'chk',
                  label:'잔액표시',
                })
        +tab("예적금")
          .acc_lists
            +accountbox({
              accName:"정기예금(복리)2",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                },
                {
                  label:"이체"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            .toggle_wrap
              span.text 잔액 ON
              .toggle
                +radioCheck({
                  name:'chk',
                  label:'잔액표시',
                })
        +tab("예적금")
          .acc_lists
            +accountbox({
              accName:"정기예금(복리)3",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                },
                {
                  label:"이체"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            .toggle_wrap
              span.text 잔액 ON
              .toggle
                +radioCheck({
                  name:'chk',
                  label:'잔액표시',
                })
  +content_group(1)
    a.banner.type02(href="")
      span
        img(src="/src/images/img_bn01.jpg" alt="")
  //- 새소식
  +content_group(1)
    
    .notice
      +title({
        text:"새소식",
        lv:2,
      })
      .cont
        ul.list_type
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항
  +content_group(1)
    a.banner.type01(href="")
      span
        img(src="/src/images/img_bn02.jpg" alt="")
  //- 빠른 서비스
  +content_group(1)
    .quick_service
      +title({
        text:"빠른 서비스",
        lv:2,
      })
      .cont
        .scroll_wrap
          ul.scroll
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main01.svg"
                  )
                .text 신용정보조회동의
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main02.svg"
                  )
                .text 금리인하요구권

            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main03.svg"
                  )
                .text 전자약정
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main04.svg"
                  )
                .text 대출 이어하기

        

            
  //- 고객센터
  +content_group(1)
    .customer_service
      +title({
        text:"ㅇㅇ저축은행 고객센터",
        lv:2,
      })
      .cont 
        .list
          a(href="")
            span.ico 
              img(src="/src/images/ico_main05.svg")
            span.tel
              span.text 대표전화
              span.number 02.1234.5678
          a(href="")
            span.ico 
              img(src="/src/images/ico_main06.svg")
            span.tel
              span.text 대출상담
              span.number 02.1234.5678

  
  .quick_btn 
    .quick 
      a(
        href="#header"
        mui-scroll="showOffset:100;"
        class="type1"
      )
        span.txt TOP
    .app 
      button(type="button")
          img(src="/src/images/logo_sb.svg", alt="스마트뱅킹 앱 다운로드")

