extends ../components/templates/base_main.pug

block content
  +content_group(1)
    p.welcome_msg
      span 
        em.name 김중앙
        | 님, 안녕하세요!
      span 
        em.bnk 한화저축은행
        | 입니다.
        span.ico
    .main_slider.type1(
      mui-slider="scrollbar:true;paging:true;loop:false;"
    )
      .slider
        .swiper-wrapper
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
                span.link_txt 둘러보러가기
        
    .main_slider.type2(
      mui-slider="pagination:true"
    )
      .slider
        .swiper-wrapper
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
    .main_slider.type3(
      mui-slider="pagination:true"
    )
      .slider
        .swiper-wrapper
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
          .lists.swiper-slide
            a(href="")
              .box 
                p.title 예적금 담보대출
                p.decs 가입한 예적금을 담보로 중도해지 불이익없이 대출신청이 가능해요.
                .ico
                  img(src="/src/images/ico_main08.svg" alt="")
        
  .toggle_wrap.type2
    span.text 잔액 ON
    .toggle
      +radioCheck({
        name:'chk',
        label:'잔액표시',
      })
  +content_group(1)
    .event 
      span.label EVENT
      p.text 멤버쉽으로 혜택도 받고, 추천 경품까지!
  +content_group(1)
    .status.type1
      +tabsWrap()
        +tab("대출")
          .box_type
            a(href="").box
              p.title 직작인 신용대출
              //- p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
              p.percent 
                span.txt1 연
                span.txt2 1.05%
                
              //- p.money
              //-   span.txt1 최대
              //-   span.txt2 2천만원
            a(href="").box
              p.title 직작인 신용대출
              p.percent 
                span.txt1 연
                span.txt2 1.05%
          span.link_sec
            a.link 다른 대출 상품이 궁금하시다면?
                


        +tab("예적금")
          .box_type
            a(href="").box
              p.title 직작인 신용대출
              p.percent 
                span.txt1 연
                span.txt2 2.05%
            a(href="").box
              p.title 직작인 신용대출
              p.percent 
                span.txt1 연
                span.txt2 2.05%
          span.link_sec
            a.link 다른 예적금 상품이 궁금하시다면?
        +tab("대출")
          .box_type
            a(href="").box
              p.title 직작인 신용대출
              p.percent 
                span.txt1 연
                span.txt2 4.05%
            a(href="").box
              p.title 직작인 신용대출
              p.percent 
                span.txt1 연
                span.txt2 4.05%
          span.link_sec
            a.link 다른 대출 상품이 궁금하시다면?
    .status.type2
      +tabsWrap({
        active:2
      })
        +tab("대출")
          .list_type
            a(href="").box
              p.title 직작인 신용대출
              //- p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            a(href="").box
              p.title 직작인 신용대출
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            a(href="").box
              p.title 직작인 신용대출
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            span.link_sec
              a.link 대출 더보기
        +tab("예적금")
          .list_type
            a(href="").box
              p.title 직작인 신용대출
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            a(href="").box
              p.title 직작인 신용대출
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            a(href="").box
              p.title 직작인 신용대출
              div.divide
                p.percent 
                  span.txt1 연
                  span.txt2 1.05%
                p.money
                  span.txt1 최대
                  span.txt2 2천만원
            span.link_sec
              a.link 대출 더보기
        +tab("예적금")
          .acc_lists
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                },
                {
                  label:"이체"
                }
              ]            
            })
            +accountbox({
              accName:"정기예금(복리)",
              accNum:"010-12345678",
              accVal:"17,500,000",
              endDate:"만기 2025.12.31",
              btns: [
                {
                  label:"거래내역조회"
                }
              ]            
            })
            .toggle_wrap
              span.text 잔액 ON
              .toggle
                +radioCheck({
                  name:'chk',
                  label:'잔액표시',
                })
    .status.type3
      +tabsWrap()
        +tab("대출")
          .slider_type(
            mui-slider="pagination:true;"
          )
            .slider
              .swiper-wrapper
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출1
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출2
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출3
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
            span.link_sec
              a.link 대출 더보기
                


        +tab("예적금")
          .slider_type(
            mui-slider="pagination:true;"
          )
            .slider
              .swiper-wrapper
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출11
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출22
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
                .lists.swiper-slide
                  a(href="").box
                    p.title 직작인 신용대출33
                    p.text 직장인이라면 누구나 쉽고 빠르게 이용가능한 대출 서비스
                    div.divide
                      p.percent 
                        span.txt1 연
                        span.txt2 1.05%
                      p.money
                        span.txt1 최대
                        span.txt2 2천만원
            span.link_sec
              a.link 대출 더보기
  //- 새소식
  +content_group(1)
    
    .notice
      +title({
        text:"새소식",
        lv:2,
      })
      .cont
        ul.list_type
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항
          li 
            a(href="") 저축은행 중앙회 새소식입니다 이곳은 공지사항

      .cont
        ul.card
          li 
            a(href="")
              span.text 저축은행 중앙회 새소식입니다 이곳은 공지사항
              span.date 2023.02.02
          li 
            a(href="")
              span.text 저축은행 중앙회 새소식입니다 이곳은 공지사항
              span.date 2023.02.02
          li 
            a(href="")
              span.text 저축은행 중앙회 새소식입니다 이곳은 공지사항
              span.date 2023.02.02
    
      .cont(
        mui-slider="autoplay:true;paging:true;controller:true;"
      )
        .slider
          .swiper-wrapper
            .lists.swiper-slide
              a(href="")
                span.text 1저축은행 중앙회 새소식입니다 이곳은 공지사항
                span.date 2023.02.02
            .lists.swiper-slide
              a(href="")
                span.text 2저축은행 중앙회 새소식입니다 이곳은 공지사항
                span.date 2023.02.02
            .lists.swiper-slide
              a(href="")
                span.text 3저축은행 중앙회 새소식입니다 이곳은 공지사항
                span.date 2023.02.02
  //- 빠른 서비스
  +content_group(1)
    .quick_service
      +title({
        text:"빠른 서비스",
        lv:2,
      })
      .cont
        .scroll_wrap
          ul.scroll
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main01.svg"
                  )
                .text 신용정보조회동의
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main02.svg"
                  )
                .text 금리인하요구권

            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main03.svg"
                  )
                .text 전자약정
            li 
              a(href="") 
                .ico 
                  img(
                    src="/src/images/ico_main04.svg"
                  )
                .text 대출 이어하기

        .tag
          a(href="") 대출이어하기
          a(href="") 전자약정
          a(href="") 고객센터
          a(href="") 신용정보조회동의
          a(href="") 금리인하요구권

        ul.list
          li 
            a(href="") 
              .ico 
                img(
                  src="/src/images/ico_main04.svg"
                )
              .text 대출<br>이어하기
          li 
            a(href="") 
              .ico 
                img(
                  src="/src/images/ico_main03.svg"
                )
              .text 전자약정
          li 
            a(href="") 
              .ico 
                img(
                  src="/src/images/ico_main01.svg"
                )
              .text 신용정보<br>조회동의
          li 
            a(href="") 
              .ico 
                img(
                  src="/src/images/ico_main02.svg"
                )
              .text 금리인하<br>요구권

            
  //- 고객센터
  +content_group(1)
    .customer_service
      +title({
        text:"ㅇㅇ저축은행 고객센터",
        lv:2,
      })
      .cont 
        .list
          a(href="")
            span.ico 
              img(src="/src/images/ico_main05.svg")
            span.tel
              span.text 대표전화
              span.number 02.1234.5678
          a(href="")
            span.ico 
              img(src="/src/images/ico_main06.svg")
            span.tel
              span.text 대출상담
              span.number 02.1234.5678
        .block 
          a(href="")
            span.ico 
              img(src="/src/images/ico_main05.svg")
            span.tel
              span.text 대표전화
              span.number 02.1234.5678
          a(href="")
            span.ico 
              img(src="/src/images/ico_main06.svg")
            span.tel
              span.text 대출상담
              span.number 02.1234.5678

  +content_group(1)
    .customer_service.full
      +title({
        text:"고객센터",
        lv:2,
      })
      .cont 
        .full_list
          a(href="")
            span.tel
              span.text 대표전화
              span.number 02.1234.5678
          a(href="")
            span.tel
              span.text 대출상담
              span.number 02.1234.5678
  +content_group(1)
    a.banner.type01(href="")
      span
        img(src="/src/images/img_bn01.jpg" alt="")
  +content_group(1)
    a.banner.type02(href="")
      span
        img(src="/src/images/img_bn02.jpg" alt="")
  +content_group(1)
    a.banner.type03(href="")
      span
        img(src="/src/images/img_bn02.jpg" alt="")

  +content_group(1)
    +accordion({
      active:'all',
      multiple:true
    })
      +acc_title('입출금')
      +acc_content()
        .acc_lists
          +accountbox({
            accName:"정기예금(복리)",
            accNum:"010-12345678",
            accVal:"17,500,000",
            btns: [
              {
                label:"거래내역조회"
              },
              {
                label:"이체"
              }
            ]            
          })
          +accountbox({
            accName:"정기예금(복리)",
            accNum:"010-12345678",
            accVal:"17,500,000",
            endDate:"만기 2025.12.31",
            btns: [
              {
                label:"거래내역조회"
              }
            ]            
          })
      +acc_title('예적금')
      +acc_content()
        .acc_lists
          +accountbox({
            accName:"정기예금(복리)",
            accNum:"010-12345678",
            accVal:"17,500,000",
            endDate:"만기 2025.12.31",
            btns: [
              {
                label:"거래내역조회"
              }
            ]            
          })
      +acc_title('대출')
      +acc_content()
        .acc_lists
          +accountbox({
            accName:"정기예금(복리)",
            accNum:"010-12345678",
            accVal:"17,500,000",
            endDate:"만기 2025.12.31",
            btns: [
              {
                label:"거래내역조회"
              }
            ]            
          })
  .quick_btn 
    .quick 
      button(type="button")
    .app 
