include ../index
- let showBg = false;

doctype html
html(lang="ko")
  head
    title 저축은행중앙회
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    )
    meta(
      charset="UTF-8"
    )
    link(
      rel="stylesheet"
      href="/css/common.css"
    )      
    link(
      rel="stylesheet"
      href="/css/main.css"
    )
    script(
      type="text/javascript"
      src="/js/index.js"
    )
    script(
      type="text/javascript"
      src="/js/swiper-bundle.min.js"
    )
  body
    #wrapper.main
      block top
      <!-- header -->
      #header
        include header_main.pug
      <!-- / header -->


      <!-- contents -->
      #contants(
        class={"show_bg":showBg}
      )
        block content
      <!-- / contents -->


      <!-- footer -->
      #footer
        include footer_main.pug
      <!-- / footer -->
      
