include ../index
- let showAllMenu = false;

block top
doctype html
html(lang="ko")
  head
    title 저축은행중앙회
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    )
    meta(
      charset="UTF-8"
    )
    link(
      rel="stylesheet"
      href="/css/common.css"
    )
    script(
      type="text/javascript"
      src="/js/index.js"
    )
  body
    #wrapper

      <!-- header -->
      #header(
        class={"allmenu":showAllMenu}
      )
        include header.pug
        block header
        //- include webmenmen0100.pug
      <!-- / header -->


      <!-- contents -->
      #contants
        block content
      <!-- / contents -->


      <!-- footer -->
      #footer
        include footer.pug
      <!-- / footer -->
      
