header.header 
  .inner 
    .side_left
      button(
        type="button"
        class="btn_prev"
      )
        span.hidden 뒤로가기
    .title_center
      span.title
        !=pageTitle
    .side_right
      button(
        type="button"
        class="btn_home"
      )
        span.hidden 홈으로 가기
      button(
        type="button"
        class="btn_allmenu"
        mui-toggle='target:#wrapper;cls:open_allmenu;'
      )
        span.hidden 전체메뉴
      