mixin button_group(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const { element="div", size="medium", className, btns, ...rest } = Object.assign({}, params)
  #{element}(
    id=id
    class=`${prefix}${divide}button${divide}group`
    class=className
  )
    each val in btns
      span.group
        +button({
          label:val
        })


mixin button_wrap(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const { element="div", className, ...rest } = Object.assign({}, params)

  #{element}(
    id=id
    class=`${prefix}${divide}button${divide}wrap`
    class=className
  )
    block

mixin button(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  

  - let element = "button"
  - let buttonType = "button"
  - const { size="medium", label, isIcon, href, muiToggle, className, type="primary", id, ...rest } = Object.assign({}, params)
  //- primary , success, grey, white, info, default
  if href
    - element = "a"
    - buttonType = undefined
  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}${size}`
    class=`${prefix}${divide}${type}`
    class=className
    class={
      'mui-icon':isIcon,
    }
    type=buttonType
    href=href
    mui-toggle=muiToggle
  )
    span
      | #{label}

mixin button_select(label)
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  

  - let element = "button"

  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}select`
    class=className
    type="button"
  )
    span
      | #{label}
