mixin ipwrap(params={})

  - const {className, count, ...rest } = Object.assign({}, params)
  
  div(
    class=className
  )
    - for (let i = 0; i < count; i++)
      +input()
      - if ((count-1) !== i)
        span.dash



mixin input(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element="span", className, title, placeholder, value, readOnly, disabled, id, type="text", muiFormatter, maxlength, subfix, ...rest } = Object.assign({}, params)
  - let subfixLength = !!subfix ? `sublength_${subfix.length}` : null
  
  #{element}(
    class=`${prefix}${divide}input`
    class=className
    class={"inner_subfix":!!subfix}
    class={"mui_disabled":!!disabled}
    class={"mui_readonly":!!readOnly}
    class=subfixLength
    
  )
    input(
      type=type
      id=id
      title=title
      placeholder=placeholder
      readonly=readOnly
      disabled=disabled
      value=value
      maxlength=maxlength
      mui-formatter=muiFormatter
      mui-input=""
    )
    
    if !!subfix
      span(
        class=subfix
      )
        !=subfix
    
    

