mixin form(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const formBody = [];
  - const { element="div", className, ...rest } = Object.assign({}, params)

  mixin form_body(params={})
    - const obj = Object.assign({}, params)
    - formBody.push({attribute:obj, content:block});
  block
  #{element}(
    class=`${prefix}${divide}form`
    class=className
  )

    each item, index in formBody
      - const {title, required} = item.attribute;

      div(
        class=`${prefix}${divide}form_list`
      )
        if !!title
          div(
            class=`${prefix}${divide}form_head`
            class={"form_required":required}
          )
            span.form_title!=title
        div(
          class=`${prefix}${divide}form_content`
        )
          - item.content && item.content()


mixin form_value(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element="div", className, value, ...rest } = Object.assign({}, params)
  #{element}(
    class=`${prefix}${divide}form_value`
    class=className
  )
    span!=value
      
  
    
